body {
	padding: 0px;
	margin: 0px;
	background: #f2f6e9;
}

h1{
	text-align: center;
	padding-top: 20px; 
	padding-bottom: 20px;
}

a{
	display : block;
	margin: auto;
}

.button {
	background-color: #e0e0eb;
   	border : 2px solid;
   	border-color: #aa80ff;
   	text-align: center;
   	font-size: 20px;
   	cursor: pointer;
   	transition-duration: 0.4s;
   	/*float: left;*/
}

.button:hover {
  background-color: #aa80ff; 
  color: white;
}


#btn-group {
	float: left;
	text-align: center;
	background:#e0e0eb;
	margin-left: auto;
  	margin-right: auto;
  	width: 1439px;
}

#header {
	background:#ccccff;
}

#section {
	text-align: center;
	color: #e0e0eb;
	height: 700px;
	background-image: url("deal.jpg");
	background-size: cover;
	background-position: center;

}

.page-footer {
	background-color: #222;
	color: #ccc;
	padding: 5px  30px;
}
.footer-copyright {
	color: #666;
	padding: 20px 0;
	text-align: center;
}

.text-up {
	font-weight: bolder;
	font-size: 13px;
}